.center {
  text-align: center;
}

.game-data {
  border: solid 5px black;
  border-radius: 15px;
  margin-top: 3em;
  padding: 1em;
}

#pie-chart-container {
 
}

#pie-chart {
  width: 400px;
  height: 400px;
}

#question-container {
  text-align: left;
}

#p1-container {
  border: solid 5px red;
}

#p2-container {
  border: solid 5px green;
}

#p3-container {
  border: solid 5px blue; 
}